
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,300;1,600&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,400;1,600&display=swap');
ul{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
li{
    margin-right: 70px;
}
.table{
    align-content: center;
    margin-right: 00px;
    margin-left: 300px;
    column-gap: -10px;
    border-collapse: collapse; /* This removes the space between table cells */
    border-spacing: 0;
    margin-top: 20px;

}
.table td{
    padding:20px;
    /* background-color: red; Optional: Add borders for better visualization */
    padding-right:50px;
}


tr{
    border: 4px solid white;
}
h2{
    margin-left: 330px;
    font-size: 28px;
    font-size: 25px;
    font-weight: 550;
    letter-spacing: 2px;
}
#first-para{
    margin-left: 540px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    margin-top: -20px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.table-two{
    margin-left: 260px;
}
.table-two td{
    padding-left: 60px;
    padding-right: 50px;
    font-size: 12px;
}
#second-para{
    font-size: 13px;
    text-align: center;
    margin-left: 360px;
    margin-right: 390px;
    margin-top: -10px;
}
#id-h2{
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 25px;
}
.div-keywords p{
    display: inline-block;
    padding: 3px;
    margin: 5px;
    padding-right: 20px;
    background-color: blue;
    border-radius: 20px;
    font-size: 12px;
    
}
.div-keywords{
    margin-left: 350px;
    margin-right: 300px;
    font-family: 'Poppins', sans-serif;
}
h3{
    margin-left: 310px;
}
#time{
    margin-left: 590px;
    margin-bottom: 0px;
    padding: 11px;
}
span{
    font-size: 90px;
}